<template>
    <main class="relative flex items-center mt-1 mx-4 sm:mx-5">
        <input
            type="text"
            name="search"
            id="search"
            placeholder="Search for campaigns by title, category, tags and more.."
            class="shadow-sm bg-gray-800 text-gray-50 placeholder-gray-300 focus:placeholder-yellow-100 focus:ring-indigo-500 focus:border-indigo-500 block w-full pr-12 text-sm sm:text-base border-gray-300 rounded-md sm:rounded-lg"
        />

        <div class="hidden sm:flex absolute inset-y-0 right-0 py-1.5 pr-1.5">
            <kbd class="inline-flex items-center border border-gray-200 rounded px-2 text-sm font-sans font-medium text-gray-400"> ⌘K </kbd>
        </div>
    </main>
</template>

<script>
/* Import components. */
// import HelloWorld from '@/components/HelloWorld'

export default {
    components: {
        // HelloWorld
    },
    data: () => {
        return {
            //
        }
    },
    created: function () {
        //
    },
    mounted: function () {
        //
    },
}
</script>
